@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --oswald: 'Oswald';
    --white: #FFFFFF;
    --shadow: #754E71;
    --light-blue: #99BFFD;
    --light-blue2: #324362;
    --grey: #5F5B5A;
    --light-green: #00687D;
    --dark-pink: #76124C;
    --dark-yellow: #8F4005;
    --dark-yellow2: #5A3A16;
}


/* ========================== MENU MOBILE ============================ */
.icon-line__menu {
    position: relative;
    background-color: var(--black);
    display: block;
    width: 30px;
    height: 5px;
    top: -32px;
    right: 25px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
    border-radius: 5px;
}

.icon__menu--mobile {
    position: absolute;
    right: 0;
}

.icon-line__menu:before,
.icon-line__menu:after {
    width: 30px;
}

.icon-line__menu:before {
    top: -10px;
}

.icon-line__menu:after {
    top: 10px;
}

.icon-line__menu:before,
.icon-line__menu:after {
    background-color: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: 500ms ease;
    border-radius: 5px;
}

.container__menu--mobile.active {
    position: absolute;
    z-index: 99;
    right: 0;
    background-color: var(--white);
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

/* Styling Nav */
.nav-container {
    height: 67px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(69, 33, 138, .7));
    border-bottom: 2px solid var(--white);
    position: fixed;
    z-index: 9;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.logo img {
    width: auto;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 19px;
    transition: transform 0.3s ease-in-out;
}

nav li:hover {
    transform: scale(1.5) rotate(-2deg);
}

nav a {
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--oswald);
}

/* Styling IMG - Container  */

.top-container {
    height: 1080px;
    width: 100%;
    background-image: url(../img/main-img.png) !important;
    border-bottom: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Styling About / Details  */

.about-container {
    height: 500px;
    width: 100%;
    background-image: url(../img/about-img.png);
    border-bottom: 1px var(--dark-pink);
}

.about {
    float: right !important;
    width: auto;
    max-width: 440px;
    margin-top: 70px;
}

.title-about h1 {
    font-family: var(--oswald);
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    color: var(--white);
    text-shadow: 4px 4px 0px var(--shadow);
}

.text-about p {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--oswald);
    color: var(--white);
}

.about span {
    display: block;
    height: 2px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    margin: 20px 0;
}

.details {
    border: none;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 25%);
    height: 60px;
    padding-left: 105px;
    padding-right: 105px;
    font-weight: 700;
    line-height: 40px;
    font-size: 25px;
    font-family: var(--oswald);
}

/* Styling Character */
.character-container {
    background-size: cover;
    background-image: url(../img/backgorund-cards.png);
}

.character {
    text-align: center;
    margin: 0 auto;
}

.character h2 {
    text-align: center;
    text-shadow: 4px 4px 0px var(--shadow);
    font-family: var(--oswald);
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    color: var(--white);
}

.character ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character li {
    position: relative;
}



