@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --oswald: 'Oswald';
    --shadow: #754E71;
    --light-blue: #99BFFD;
    --light-blue2: #324362;
    --grey: #5F5B5A;
    --light-green: #00687D;
    --dark-pink: #76124C;
    --dark-yellow: #8F4005;
    --dark-yellow2: #5A3A16;
}

.nav-container {
    height: 67px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(69, 33, 138, .7));
    border-bottom: 2px solid var(--white);
    position: fixed;
    z-index: 9;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.logo img {
    width: auto;
    height: 35px;
    margin-top: 15px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 19px;
    transition: transform 0.3s ease-in-out;
}

nav li:hover {
    transform: scale(1.5) rotate(-2deg);
}

nav a {
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--oswald);
}

.top-container {
    height: 1080px;
    width: 100%;
    background-image: url(../img/main-img.png) !important;
    border-bottom: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}